<ion-menu id="leftMenu" [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </ion-item>
      <ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>
      <ion-item (click)="logout()" *ngIf="auth.authenticated">
        <ion-item name="log-out" item-left></ion-item>
        Log out
      </ion-item>
      <ion-item (click)="login()" *ngIf="!auth.authenticated">
        <ion-item name="log-in" item-left></ion-item>
        Log In
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>